In [1]:
# 시험환경 세팅 3개 파일 생성 (코드 변경 X)
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

def exam_data_load(df, target, id_name="", null_name=""):
    if id_name == "":
        df = df.reset_index().rename(columns={"index": "id"})
        id_name = 'id'
    else:
        id_name = id_name

    if null_name != "":
        df[df == null_name] = np.nan

    X_train, X_test = train_test_split(df, test_size=0.2, random_state=2022)
    y_train = X_train[[id_name, target]]
    X_train = X_train.drop(columns=[target])

    y_test = X_test[[id_name, target]]
    X_test = X_test.drop(columns=[target])
    return X_train, X_test, y_train, y_test

df = pd.read_csv("Train.csv") # 파일명이 다를 경우 파일명을 수정해주세요
X_train, X_test, y_train, y_test = exam_data_load(df, target='Reached.on.Time_Y.N', id_name='ID')
X_train.to_csv("X_train.csv", index=False)
y_train.to_csv("y_train.csv", index=False)
X_test.to_csv("X_test.csv", index=False)

In [2]:
# 데이터 불러오기
import pandas as pd
test = pd.read_csv("X_test.csv")
train = pd.read_csv("X_train.csv")
target = pd.read_csv("y_train.csv")

In [3]:
train.head(), test.head(), target.head()

(      ID Warehouse_block Mode_of_Shipment  Customer_care_calls  \
 0   8440               B             Ship                    4
 1  10849               D             Ship                    3
 2   9478               B             Ship                    4
 3   2968               B             Ship                    6
 4   6964               B             Road                    5

    Customer_rating  Cost_of_the_Product  Prior_purchases Product_importance  \
 0                1                  284                4                low
 1                2                  201                4             medium
 2                4                  181                3             medium
 3                2                  236                4                low
 4                1                  282                4                low

   Gender  Discount_offered  Weight_in_gms
 0      F                 4           4795
 1      M                10           5565
 2      F                 9           4425
 3      F                61           3140
 4      F                 9           4766  ,
       ID Warehouse_block Mode_of_Shipment  Customer_care_calls  \
 0   8285               C             Ship                    6
 1  10192               B             Ship                    7
 2   8675               C             Ship                    4
 3   5753               C           Flight                    4
 4    448               B             Ship                    3

    Customer_rating  Cost_of_the_Product  Prior_purchases Product_importance  \
 0                5                  229                8             medium
 1                3                  306                4                low
 2                5                  148                3             medium
 3                4                  236                3                low
 4                4                  194                3             medium

   Gender  Discount_offered  Weight_in_gms
 0      F                 2           4271
 1      F                 4           1630
 2      F                 5           5216
 3      M                10           4347
 4      M                 3           2169  ,
       ID  Reached.on.Time_Y.N
 0   8440                    1
 1  10849                    0
 2   9478                    1
 3   2968                    1
 4   6964                    0)

In [4]:
train.info(), test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8799 entries, 0 to 8798
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   8799 non-null   int64
 1   Warehouse_block      8799 non-null   object
 2   Mode_of_Shipment     8799 non-null   object
 3   Customer_care_calls  8799 non-null   int64
 4   Customer_rating      8799 non-null   int64
 5   Cost_of_the_Product  8799 non-null   int64
 6   Prior_purchases      8799 non-null   int64
 7   Product_importance   8799 non-null   object
 8   Gender               8799 non-null   object
 9   Discount_offered     8799 non-null   int64
 10  Weight_in_gms        8799 non-null   int64
dtypes: int64(7), object(4)
memory usage: 756.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2200 non-null   int64
 1   Warehouse_block      2200 non-null   object
 2   Mode_of_Shipment     2200 non-null   object
 3   Customer_care_calls  2200 non-null   int64
 4   Customer_rating      2200 non-null   int64
 5   Cost_of_the_Product  2200 non-null   int64
 6   Prior_purchases      2200 non-null   int64
 7   Product_importance   2200 non-null   object
 8   Gender               2200 non-null   object
 9   Discount_offered     2200 non-null   int64
 10  Weight_in_gms        2200 non-null   int64
dtypes: int64(7), object(4)
memory usage: 189.2+ KB

(None, None)

In [5]:
cols = train.select_dtypes(include="O").columns

from sklearn.preprocessing import LabelEncoder
for col in cols:
    le = LabelEncoder()
    train[col] = le.fit_transform(train[col])
    test[col] = le.fit_transform(test[col])

In [6]:
train.info(), test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8799 entries, 0 to 8798
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   8799 non-null   int64
 1   Warehouse_block      8799 non-null   int64
 2   Mode_of_Shipment     8799 non-null   int64
 3   Customer_care_calls  8799 non-null   int64
 4   Customer_rating      8799 non-null   int64
 5   Cost_of_the_Product  8799 non-null   int64
 6   Prior_purchases      8799 non-null   int64
 7   Product_importance   8799 non-null   int64
 8   Gender               8799 non-null   int64
 9   Discount_offered     8799 non-null   int64
 10  Weight_in_gms        8799 non-null   int64
dtypes: int64(11)
memory usage: 756.3 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2200 non-null   int64
 1   Warehouse_block      2200 non-null   int64
 2   Mode_of_Shipment     2200 non-null   int64
 3   Customer_care_calls  2200 non-null   int64
 4   Customer_rating      2200 non-null   int64
 5   Cost_of_the_Product  2200 non-null   int64
 6   Prior_purchases      2200 non-null   int64
 7   Product_importance   2200 non-null   int64
 8   Gender               2200 non-null   int64
 9   Discount_offered     2200 non-null   int64
 10  Weight_in_gms        2200 non-null   int64
dtypes: int64(11)
memory usage: 189.2 KB

(None, None)

In [7]:
train.shape, test.shape

((8799, 11), (2200, 11))

In [8]:
test_id = test.pop("ID")

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(train, target)
pred = model.predict_proba(test)

In [ ]:
submit = pd.DataFrame({"ID":test_id, "Reached.on.Time_Y.N":pred}).to_csv("result.csv", index=False)

In [ ]:
df = pd.read_csv("result.csv")
df