In [1]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
train = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/8_2/churn_train.csv")
test = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/8_2/churn_test.csv")

In [ ]:
print(train.shape)
print(test.shape)
print(train.info())
y_train = train.pop('TotalCharges')
print(train.info())

In [25]:
from sklearn.preprocessing import LabelEncoder
cols = train.select_dtypes('object').columns

print(train.info())
print(test.info())
for col in cols:
    le = LabelEncoder()
    train[col] = le.fit_transform(train[col])
    test[col] = le.fit_transform(test[col])

print(train.info())
print(test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4116 entries, 0 to 4115
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        4116 non-null   int64
 1   gender            4116 non-null   object
 2   SeniorCitizen     4116 non-null   int64
 3   Partner           4116 non-null   object
 4   Dependents        4116 non-null   object
 5   tenure            4116 non-null   int64
 6   PhoneService      4116 non-null   object
 7   MultipleLines     4116 non-null   object
 8   InternetService   4116 non-null   object
 9   OnlineSecurity    4116 non-null   object
 10  OnlineBackup      4116 non-null   object
 11  DeviceProtection  4116 non-null   object
 12  TechSupport       4116 non-null   object
 13  StreamingTV       4116 non-null   object
 14  StreamingMovies   4116 non-null   object
 15  Contract          4116 non-null   object
 16  PaperlessBilling  4116 non-null   object
 17  PaymentMethod     4116 non-null   object
dtypes: int64(3), object(15)
memory usage: 578.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1764 entries, 0 to 1763
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        1764 non-null   int64
 1   gender            1764 non-null   object
 2   SeniorCitizen     1764 non-null   int64
 3   Partner           1764 non-null   object
 4   Dependents        1764 non-null   object
 5   tenure            1764 non-null   int64
 6   PhoneService      1764 non-null   object
 7   MultipleLines     1764 non-null   object
 8   InternetService   1764 non-null   object
 9   OnlineSecurity    1764 non-null   object
 10  OnlineBackup      1764 non-null   object
 11  DeviceProtection  1764 non-null   object
 12  TechSupport       1764 non-null   object
 13  StreamingTV       1764 non-null   object
 14  StreamingMovies   1764 non-null   object
 15  Contract          1764 non-null   object
 16  PaperlessBilling  1764 non-null   object
 17  PaymentMethod     1764 non-null   object
dtypes: int64(3), object(15)
memory usage: 248.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4116 entries, 0 to 4115
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        4116 non-null   int64
 1   gender            4116 non-null   int64
 2   SeniorCitizen     4116 non-null   int64
 3   Partner           4116 non-null   int64
 4   Dependents        4116 non-null   int64
 5   tenure            4116 non-null   int64
 6   PhoneService      4116 non-null   int64
 7   MultipleLines     4116 non-null   int64
 8   InternetService   4116 non-null   int64
 9   OnlineSecurity    4116 non-null   int64
 10  OnlineBackup      4116 non-null   int64
 11  DeviceProtection  4116 non-null   int64
 12  TechSupport       4116 non-null   int64
 13  StreamingTV       4116 non-null   int64
 14  StreamingMovies   4116 non-null   int64
 15  Contract          4116 non-null   int64
 16  PaperlessBilling  4116 non-null   int64
 17  PaymentMethod     4116 non-null   int64
dtypes: int64(18)
memory usage: 578.9 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1764 entries, 0 to 1763
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        1764 non-null   int64
 1   gender            1764 non-null   int64
 2   SeniorCitizen     1764 non-null   int64
 3   Partner           1764 non-null   int64
 4   Dependents        1764 non-null   int64
 5   tenure            1764 non-null   int64
 6   PhoneService      1764 non-null   int64
 7   MultipleLines     1764 non-null   int64
 8   InternetService   1764 non-null   int64
 9   OnlineSecurity    1764 non-null   int64
 10  OnlineBackup      1764 non-null   int64
 11  DeviceProtection  1764 non-null   int64
 12  TechSupport       1764 non-null   int64
 13  StreamingTV       1764 non-null   int64
 14  StreamingMovies   1764 non-null   int64
 15  Contract          1764 non-null   int64
 16  PaperlessBilling  1764 non-null   int64
 17  PaymentMethod     1764 non-null   int64
dtypes: int64(18)
memory usage: 248.2 KB
None

In [30]:
from sklearn.model_selection import train_test_split

X_tr, X_val, y_tr, y_val = train_test_split(train, y_train, test_size=0.2, random_state=0)
print(X_tr.shape, X_val.shape, y_tr.shape, y_val.shape)

(3292, 18) (824, 18) (3292,) (824,)

In [32]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(X_tr, y_tr)
pred = model.predict(X_val)

In [34]:
from sklearn.metrics import mean_absolute_error

mean_absolute_error(y_val, pred)

938.8953491504853

In [35]:
pred = model.predict(test)

submit = pd.DataFrame({
    'pred':pred
}).to_csv("result.csv", index=False)

df = pd.read_csv("result.csv")
print(df)

           pred
0     3788.0231
1      910.0877
2     4082.2324
3      912.2460
4     1162.4923
...         ...
1759   285.3681
1760  3934.8628
1761  4110.4819
1762  1005.8846
1763  3971.1236

[1764 rows x 1 columns]